/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Jua&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
    color: #fff;
}

* {
    box-sizing: border-box;
}
.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    letter-spacing: .9px;
    word-spacing: -1.3px;
}


body {
    /* line-height: 1; */
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);

}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    font-family: "Noto Sans KR", sans-serif;
    background: 0;
    border: 0;
    outline: 0;
    color: #000;
    cursor: pointer;
}

:root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #1000ff;
    --color-primary: 0, 209, 125;
    --color-secondary: 203, 229, 0;
    --color-point: 43 244 13;
    --color-point2:255, 0, 0;
    --color-primary: 166 246 39;
    --color-primary2: 255 225 35;
    --color-primary3:255, 174, 174;
}
.color1{color: rgba(var(--color-primary))} 
.color2{color: rgba(var(--color-primary2))} 
.color3{color: rgba(var(--color-primary3))} 
/* .color3{color: rgb(var(--color-primary2) / 0.7);}  */

.bg-pr {background-color: rgba(var(--color-primary));}
.bg-pr1 {background-color: rgba(var(--color-primary));}
.bg-pr2 {background-color: rgba(var(--color-primary2));}
.bg-pr3 {background-color: rgba(var(--color-primary3));}


.nav{display: flex;align-items: center;justify-content: center;position: sticky;top: 40px;z-index: 999;}
.nav ul{background: rgba(128, 128, 128, 0.55);border-radius: 30px;padding: 0 14px;}
.nav ul li{color: #fff;float: left;}
.nav ul li a{padding: 13px 19px;display: inline-block;color: #fff;transition: all .3s;font-size: 20px;}
.navCircle{display: inline-block;padding:10px;border-radius: 50%;vertical-align: middle;}
.navCircle + .navCircle{margin-left: 3px;}
.nav ul li a:hover{color: #f6f6f6e5;}

.inner {
    max-width: 1024px;
    /* min-width: 24rem; */
    margin: 0 auto;
    padding: 0 2rem;
}
.inner2{max-width: none;padding: 0 2.8rem;}


.flex{display: flex;}