
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.st0 {
  fill: #000;
  animation: circle 5s ease-in-out  alternate;
}
@keyframes circle{
  from{
    fill: transparent;
    -webkit-text-stroke: 1800;
  }
  to{
    fill: #000;
    -webkit-text-stroke: 0;
  }
}

/*** sec01 ***/
.sec01{text-align: center;}
.top_txt{padding-top: 177px;display: flex;flex-direction: column;gap: 29px;align-items: center;margin-bottom: 40px;}
.top_txt h1{font-size: 44px;font-weight: 800;line-height: 1.3;letter-spacing: 1.3px;}
.top_txt p{font-size: 26px;}
.sec01 button{font-weight: bold;background: rgba(128, 128, 128, 0.434);transition: all .3s;border-radius: 30px;padding: 13px 29px;color: #fff;font-size: 15px;}
.sec01 button:hover{background: rgba(128, 128, 128, 0.55);}

.main{padding: 6rem 0;}
svg{stroke: rgba(var(--color-primary));}
svg circle:nth-child(1){fill: rgba(var(--color-primary));}
svg:nth-child(2){stroke: rgba(var(--color-primary2));}
svg:nth-child(2) circle:nth-child(1){fill: rgba(var(--color-primary2))}
svg:nth-child(3){stroke: rgba(var(--color-primary3))}
svg:nth-child(3) circle:nth-child(1){fill: rgba(var(--color-primary3))}
path{
  /* stroke: #ffaeae; */
    
    stroke-width: 38;
    stroke-linecap: round;
    stroke-linejoin: round;
    visibility: visible;
    stroke-dashoffset: 0px;
    
}

.top_logo{position: relative;}

.sec02 .subNav{position: sticky;top: 3rem;left: 0;height: 100%;}
.subNav a{font-size: 45px;font-weight: 700;display: inline-block;padding: 10px 0;}
.subNav a.on{position: relative;transition: all .3s;}
.subNav a::before {
  content: "";position: absolute;bottom: 0;left: 0;height: 3px;width: 100%;background: #fff;
  transform: scaleX(0);transform-origin: left;transition: transform 0.3s ease-in-out;}

.subNav a.on::before {transform: scaleX(1);}
.subMain{padding: 10px;width: 100%;display: grid;gap: 100px;}


/*** sec02 ***/
.sec02{position: relative;}
.sec02 .flex{gap: 80px;}

/*** career ***/
.career ul{display: grid;gap: 46px;}
.career .careerDate{font-size: 21px;}
.career .careerTxt{font-size: 40px;display: block;font-weight: 900;margin-top: 3px;}
.carrerTxt_depth ul{padding-left: 30px;margin-top: 3px;}
.career strong{font-weight: 600;font-size: 26px;}
.career .carrerTxt_depth{gap: 14px;margin-top: 10px;}
.career .carrerTxt_depth ul{gap: 5px;}
.dot{position: relative;padding-left: 15px;font-size: 20px;}
.dot::before{
  content: "-";position: absolute;top: 0;left: 0;
}
.dot2{margin-top: 3px;display: inline-block;}
.carrerTxt_depth.carrerTxt_depth2{gap: 7px;}

/*** profile ***/
.profile.flex{align-items: center;gap: 0;}
.profileTxt > ul{display: grid;gap: 30px;}
.profileTxt .tag{display: flex;gap: 10px;flex-wrap: wrap;}
.profileTxt .tag span{font-size: 20px;}
.profile .photo{width: 386px;}
.profile .birthday{display: grid;gap: 13px;}
.profile .birthday p{font-size: 25px;}
.skillBox{display: flex;flex-wrap: wrap;align-items: flex-start;gap: 6px;}
.skillBox .skillItem img{object-fit: scale-down;width: 33px;vertical-align: -webkit-baseline-middle;}
/* .skillBox .skillItem .skillName{display: none;} */
.skillBox .skillItem{position: relative;}
.skillBox .skillItem .skillName{position: absolute;left: 50%;bottom: -30px;transform: translate(-50%, 0);font-size: 13px;background: #464646;padding: 3px 5px;border-radius: 8px;opacity: 0;transition: all .3s;}
.skillBox .skillItem:nth-child(1) .skillName,
.skillBox .skillItem:nth-child(2) .skillName,
.skillBox .skillItem:last-child .skillName{bottom: -20px;}
.skillBox .skillItem:hover .skillName{opacity: 1;}
.txtBox{background: #ffffff33;border-radius: 20px;padding: 25px;font-size: 31px;line-height: 1.2;}
.txtBox p{word-break: keep-all;text-align: justify;letter-spacing: -1px;word-spacing: -1px;}
.txtImg{display: none;}


/*** project ***/
.project .inner{margin: 250px auto;flex-direction: column;}
.project h2{font-size: 60px;}
.projectList{width: 100%;margin-top: 85px;}
.projectBox_inner{border-radius: 20px;overflow: hidden;}

.projectList > li{width: 50%;float: left;position: relative;overflow: hidden;padding: 10px;}
/* .projectList li .projectBox{width: 100%;} */
.projectList li .projectBox img{filter: brightness(0.5);height: 100%;display: block;}
.projectTxts{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #000;transition: all .3s;width: 92%;}
.projectTxts p{color: transparent;-webkit-text-stroke: 1px #fff;font-size: 30px;}
.projectList .boxConatain{transition: all .7s;}
.projectList .boxConatain:hover .projectTxts{height: auto;transform: translate(-50%, -50%);}
.projectList .boxConatain:hover .depthTxt{height: 200px;opacity: 1;}
.depthTxt{margin-top: 10px;height: 0;transition: all .7s;overflow: hidden;opacity: 0;flex-direction: column;gap: 15px;position: relative;}
.depthTxt span{display: block;margin-top: 3px;font-size: 23px;}
.depthTxt li{font-size: 20px;}
.projectList li:hover .projectBox img{filter: brightness(0.3);}
.linkImg{width: 35px;color: #fff;position: absolute;bottom: 0;right: 0;}

/*** bottom ***/
.bottom{font-size: 26px;padding: 0px 30px 133px;}

.TextInner p{display: inline-flex;font-size: 60px;overflow: hidden;}
.TextInner p + p{margin-left: 15px;}
.finish{font-size: 60px;}

/*** finish ***/
.finish{padding: 100px 30px;background: #fff;color: var(--background-color);font-size: 60px;}
.finish{
  color: transparent;
  -webkit-text-stroke: 2px var(--background-color);
  text-shadow:
    1px 0 0 #fff, -1px 0 0 #fff,
    0 1px 0 #fff, 0 -1px 0 #fff,
    1px 1px 0 #fff, -1px -1px 0 #fff,
    1px -1px 0 #fff, -1px 1px 0 #fff;
    display: grid;gap: 9px;
}
.finish p + p{margin-top: 30px;}
.finish p span{color: var(--background-color);text-shadow: none;}
